$fuente: 'Plus Jakarta Sans', sans-serif;

.body-contact{
    background-color: bisque;
}

main{
    .container-fluid{
        .card{
            .card-body{
                .card-title{
                    color: rgb(230, 192, 123);
                    font-family:$fuente;
                    font-size: 2rem;
                    font-weight: bold;
                    text-shadow: 2px 2px rgb(99, 92, 92);
                }
                .card-text{
                    font-family:$fuente;
                }

            }
        }
    }

    form{
        .bold{
            font-weight: bold;
    color: rgb(45, 46, 46);
        }

        fieldset{
            legend{
                font-weight: bold;
            }
        }
        
    }


}
@media (max-width:425px) {
    .body-contact{
        text-align: center;
    }
}

@media (min-width:768px) {
   
}
footer{
    h4{
        text-align:center;
    }
}

main{
    .nota-yt {
        margin: 1.2rem;
    }
    
}