$page-title-fonts: 'Plus Jakarta Sans', sans-serif;

h3{
    text-align: center;
    font-family: $page-title-fonts;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px rgb(88, 80, 80);
    background-color: rgb(219, 137, 137);
   
}

@mixin cuadrado{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: rgb(195, 235, 221);
    border-radius: 15px;
}

@mixin centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}


.marcos{
    @include centrado;
}

.marco1{
    @include cuadrado;
    @include centrado;
    
    
}

.marco2{
    @include cuadrado;
    @include centrado;
    
}

.marco3{
    @include cuadrado;
    @include centrado;
   
}

.ubi{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width:425px){

    @mixin centrado{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .marcos{
       @include centrado
       
    }

    
    @mixin cuadrado{
        width: 100px;
        height: 100px;
        margin: 10px;
        background-color: rgb(167, 224, 205);
        border-radius: 15px;
    }

    .marco1{
        @include cuadrado;  

        a{
            img{
                width: 80px;
                height: auto;
            }
        }
    }

    .marco2{
        @include cuadrado;  

        a{
            img{
                width: 80px;
                height: auto;
            }
        }
    }

    .marco3{
        @include cuadrado;  

        a{
            img{
                width: 80px;
                height: auto;
            }
        }
    }
}