@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Franklin:wght@300&family=Montserrat:wght@900&family=Oswald&family=Plus+Jakarta+Sans:wght@300&family=Raleway&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "adoptar.scss";